
@font-face {
    src:url("../fonts/Montserrat/Montserrat-Bold.ttf");
    font-family: "Montserrat" font-weight: 700;
}

@font-face {
  src:url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-family: "Montserrat"; font-weight: 600;
}

@font-face {
  src:url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-family: "Montserrat"; font-weight: 500;
}

@font-face {
  src:url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-family: "Montserrat"; font-weight: 400;
}

@font-face {
  src:url("../fonts/Montserrat/Montserrat-Light.ttf");
  font-family: "Montserrat"; font-weight: 300;
}

* {
    margin: 0;
    padding: 0
}

html {
    background: #fff;
    color: #222;
    padding: 5px
}

body {
    font-family: 'Montserrat';
}

h1 {
    font-size: 4rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.leadin{
    background: url("../img/main.png") no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 230px 0px 250px 0px;
    color: white;
    text-align: center;
    font-size: 50px;
    height:550px;
}

.follow{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


nav{
    max-width: 900px;
    margin: auto;
    padding: 30px 0;
    position: relative;
    font-family: 'Montserrat';

}

.navbar-toggler{
    border: none!important;
}

.no-outline:focus {outline:0;}

.nav-spaced {
    padding: 5px 10px 5px 10px;
}

.nav-item{
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.nav-item.nav-link{
    padding-top:0px;
}

@media screen and (max-width: 991px) {
    .right{
        position: relative;
        right: auto;
    }
}

@media screen and (min-width: 992px) {
    .right{
        position: absolute;
        right: 0;
    }
}

#logo img{
    height: 50px; width: 50px; margin: 0px;
}
