
@font-face {
    src:url("../fonts/Montserrat/Montserrat-Bold.ttf");
    font-family: "Montserrat"; font-weight: 700;
}

@font-face {
  src:url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-family: "Montserrat"; font-weight: 600;
}

@font-face {
  src:url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-family: "Montserrat"; font-weight: 500;
}

@font-face {
  src:url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-family: "Montserrat"; font-weight: 400;
}

@font-face {
  src:url("../fonts/Montserrat/Montserrat-Light.ttf");
  font-family: "Montserrat"; font-weight: 300;
}

* {
    margin: 0;
    padding: 0
}

@media (min-width: 900px) {
    .row-cust { width: 100%; display: table; table-layout: fixed; }
    .col-cust { display: table-cell; }
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}

@media (max-width: 1300px) {
    .tabs div h4{
        font-size: 16px;
    }
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

footer div div p{
    text-align: center;
}

@media (max-width: 900px) {
    .tabs div h4{
        font-size: 12px;
    }
    .dimmed-msg{
        font-size: 3rem;
    }
    footer div div p{
        width: 100%;
        float: none;
    }

    footer{
        height: 140px;
    }
}

html {
    background: #fff;
    color: #222;
}

body {
    font-family: 'Montserrat';
}

h1 {
    font-size: 4rem;
    line-height: 1.5;
    margin-bottom: 10px;
    font-familY: 'Montserrat';
    font-weight: 500;
}

#lead{
    background: url("../img/santosh.png") no-repeat top center fixed;
    background-size: cover;
    font-size: 50px;
    height:50vh;
    width: 100%;
}


.nav-spaced a{
    color:#17202A;
}

.dimmedimg{
    margin: 0;
    padding: 20vh 0px 20vh 0px;
    color: white;
    text-align: center;
    font-size: 50px;
    position: relative;
}

.dimmedimg:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.45);
}

.dimmed-msg{
    position: relative;
    color: white;
    z-index: 1;
}


#int-d{
    margin-bottom: 0;
}

#follow{
    text-align: center;
    font-size: 50px;
    padding: 30px 0px 30px 0px;
    background-color: #8effa7;
}

.sel:hover{
    background-color: rgb(96, 255, 207);
    -webkit-transition: .25s;
    cursor: pointer;
}

.u-sel:hover{
    background-color: rgb(96, 255, 207);
    color: black;
    -webkit-transition: .25s;
    cursor: pointer;
}

.tabs{
    width: 100%; display: table; table-layout: fixed; 
    font-weight: 300!important;
}
.tabs div{ display: table-cell;  padding: 1%; vertical-align: middle;}

.tabimg{
    padding: 2.5%;
}
.tabimg img{
    width: 45vw;
}

.tabtxt{
    padding: 5%;
}

.tabtxt p{
    vertical-align: middle;
}

p{
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 400;
}

.cont-cust1{
    padding-left: 14%;
    padding-right: 14%;
    z-index: 1;
}

.cont-cust2{
    padding-left: 60%;
    padding-right: 5%;
    z-index: 1;
}

.sel{
    background-color: #8effa7;
    -webkit-transition: .25s;

}

.u-sel{
    background-color: white;
    -webkit-transition: .25s;

    color: #2C3E50;
}
/* 
#donations{
    background: url("../img/class.jpg") no-repeat top center;
    background-size: cover;
    font-size: 50px;
    height:550px;
    width: 100vw;
    padding: 65px 0 65px 0;
} */

#vid{
    height: 
}
.cont{
    padding: 2.5vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

#donations{
    text-align: center;
}

nav{
    padding: 0 10vw;
    position: absolute;
    font-family: 'Montserrat';
    color:#2C3E50;
    background-color: white;
    -webkit-transition: 0.5s;
}

#graphic{
    width: 100vw;
}

.no-underline:hover{
    text-decoration: none;
}

.right{
    padding-right: 10vw;
}

.inactive-tw{
    display:none;
    -webkit-transition: 1s;
}

.active-tw{
    -webkit-transition: 1s;
    background-color: #8effa7;
}

svg{
    fill: black;
}

footer{
    width: 100%;
    background-color: #17202A;
    padding: 1.5%;
    margin-bottom: 0!important;
}
.navbar-toggler{
    border: none!important;
}

.no-outline:focus {outline:0;}

.nav-spaced {
    padding: 5px 10px 5px 10px;
}

.nav-item{
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.nav-item.nav-link{
    padding-top:5px;
    color: #17202A!important;
}

@media screen and (max-width: 991px) {
    .right{
        position: relative;
        right: auto;
    }
    
}

@media screen and (max-width: 1150px) {
    nav {
        padding: 0 5vw;
    }
    .right{
        padding-right: 5vw;
    }
}

@media screen and (min-width: 992px) {
    .right{
        position: absolute;
        right: 0;
    }
}
footer div div{
    vertical-align: middle;
}

footer div div p{
    line-height: 1;
}

#logo img{
    height: 50px; width: 50px; margin: 0px;
}

#lead h1{
    font-family: "Montserrat"!important;
    font-weight: 400!important;
}